NAME: MUHAMMAD ANAS ARIF
REG NO# SP22-BAI-026

In [ ]:
myList=[]
print("Enter elements of first array")
for i in range (5):
    val=int(input("Enter elements of array"))
    myList.append(val)
myList2=[]
print("Enter elements of first array")
for i in range (5):
    val2=int(input("Enter elements of array"))
    myList2.append(val2)
myList3=myList+myList2
print(myList3)

Enter elements of first array
Enter elements of array5
Enter elements of array3
Enter elements of array4
Enter elements of array2
Enter elements of array7
Enter elements of first array
Enter elements of array1
Enter elements of array2
Enter elements of array4
Enter elements of array4
Enter elements of array5
[5, 3, 4, 2, 7, 1, 2, 4, 4, 5]

In [ ]:
def isPlaindrome(word):
    temp=word[::-1]
    if temp.capitalize()==word.capitalize():
        return True
    else:
        return False
print(isPlaindrome("deed"))

True

In [ ]:
A = [[12,7,3],
    [4 ,5,6],
    [7 ,8,9]]
B = [[5,8,1],
    [6,7,3],
    [4,5,9]]
C= [[0,0,0],
    [0,0,0],
    [0,0,0]]

for i in range(3):
   for j in range(3):
        for k in range(3):
           C[i][j] += A[i][k] * B[k][j]

for r in C:
   print(r)

[114, 160, 60]
[74, 97, 73]
[119, 157, 112]

In [ ]:
def perimeter (listing):
    leng=len(listing)
    perimeter=0
    for i in range(0,leng-1):
        dis=(((listing[i][0]-listing[i+1][0])**2)+((listing[i][1]-listing[i+1][1])**2)**0.5)
        perimeter+=dis
        perimeter+=(((listing[0][0]-listing[leng-1][0])**2)+((listing[0][1]-listing[leng-1][1])**2)**0.5)
        return perimeter
l=[(1,3),(2,7),(3,9),(-1,8)]
print(perimeter(l))

14.0

In [ ]:
def symmetric(a,b):
    e=set()
    for i in a:
        if i not in b:
            e.add(i)
    for i in b:
        if i not in a:
            e.add(i)
    return e
set1={0,1,2,3,4,5}
set2={6,7,8,9,0,1}
print (symmetric(set1,set2))

{2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
firstName=("anas","zainab","hadiya")
lastName=("arif","noor","mazhar")
sample={("anas","arif"):"03490590059",("zainab","noor"):"03191512158",("hadiya","noor"):"03261512158"}
searchtuple=("anas","arif")
if searchtuple in sample:
    print(sample[searchtuple])
else:
    print("NOT FOUND")

03490590059

In [ ]:
myList=[]
print("Enter elements of first array")
for i in range (5):
    val=int(input("Enter elements of array"))
    myList.append(val)
myList2=[]
print("Enter elements of first array")
for i in range (5):
    val2=int(input("Enter elements of array"))
    myList2.append(val2)
myList3=myList+myList2
myList3.sort()
print(myList3)

Enter elements of first array
Enter elements of array5
Enter elements of array3
Enter elements of array8
Enter elements of array5
Enter elements of array4
Enter elements of first array
Enter elements of array1
Enter elements of array2
Enter elements of array3
Enter elements of array4
Enter elements of array5
[1, 2, 3, 3, 4, 4, 5, 5, 5, 8]

In [ ]:
myList=[]
print("Enter elements of first array")
for i in range (5):
    val=int(input("Enter elements of array"))
    myList.append(val)
myList2=[]
print("Enter elements of first array")
for i in range (5):
    val2=int(input("Enter elements of array"))
    myList2.append(val2)
myList3=myList+myList2
maxi=myList3[0]
for i in range (10):
    for j in range (10):
        if (myList3[j]>maxi):
            maxi=myList3[j]
print (maxi)
mani=myList3[0]
for i in range (10):
    for j in range (10):
        if (myList3[j]<mani):
            mani=myList3[j]
print (mani)

Enter elements of first array
Enter elements of array4
Enter elements of array2
Enter elements of array4
Enter elements of array5
Enter elements of array6
Enter elements of first array
Enter elements of array9
Enter elements of array3
Enter elements of array7
Enter elements of array4
Enter elements of array3
9
2

In [ ]:
Dict={("anas"):"15-12-2003",("gul rehman"):"3-02-2004",("zainab"):"6-07-2002"}
print ("Welome to the birthday dictionary")
print("we know the birthdays of")
print("anas")
print("gul rehman")
print("zainab")
print("Enter the name of the person whose birthday you want to know")
name=str(input())
print(Dict[name])

Welome to the birthday dictionary
we know the birthdays of
anas
gul rehman
zainab
Enter the name of the person whose birthday you want to know
anas
15-12-2003

In [ ]:
Dict={("name"):"kelly",("age"):"25",("salary"):"260000",("city"):"new york"}
print(Dict['name'])
print(Dict['salary'])

kelly
260000

In [ ]:
from math import *
x=0.001
for i in range(0,360,30):
    print ("The value of sin and cos at ",i)
    a=((sin(i+x)-(sin(i)))/x)
    print("value of sin ",a)
    print("value of cos ",cos(i))

The value of sin and cos at  0
value of sin  0.9999998333333416
value of cos  1.0
The value of sin and cos at  30
value of sin  0.15474543995008805
value of cos  0.15425144988758405
The value of sin and cos at  60
value of sin  -0.9522604163796355
value of cos  -0.9524129804151563
The value of sin and cos at  90
value of sin  -0.4485205397468661
value of cos  -0.4480736161291701
The value of sin and cos at  120
value of sin  0.8138905292657261
value of cos  0.8141809705265618
The value of sin and cos at  150
value of sin  0.6996081281249733
value of cos  0.6992508064783751
The value of sin and cos at  180
value of sin  -0.5980593930329237
value of cos  -0.5984600690578581
The value of sin and cos at  210
value of sin  -0.8841111851133898
value of cos  -0.8838774731823718
The value of sin and cos at  240
value of sin  0.32530852870171767
value of cos  0.32578130553514806
The value of sin and cos at  270
value of sin  0.9844698095114734
value of cos  0.9843819506325049
The value of sin and cos at  300
value of sin  -0.02159673771717774
value of cos  -0.022096619278683942
The value of sin and cos at  330
value of sin  -0.9911324657228826
value of cos  -0.9911988217552068